{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block body %}

<div class="container-chat">
  <aside class="sidebar">
    <div class="user-section">
      <div class="user-data">
        <div class="user-img"></div>
        <div class="username"> <span>{{ current_user.username }}</span></div>
      </div>
      <ul id="list-tabs" class="nav nav-tabs">
        <li class="nav-item">
          <a id="link-convs" class="nav-link active">Convs</a>
        </li>
        <li class="nav-item">
          <a id="link-friends" class="nav-link">Friends</a>
        </li>
      </ul>
    </div>
    <div id="content-holder" class="content-user">
      <div id="list-convs" class="active-content">
        {% for conv in conversations %}
        <div>
          <div class="user-img"></div>
          <div class="username">
            {% if conv['user1']['id'] == current_user.id %}
            <a href="{{ url_for('user.chat_with',uid=current_user.id, conversation_id=conv['id']) }}">
              {{ conv['user2']['username'] }}</a>
            {% else %}
            <a href="{{ url_for('user.chat_with',uid=current_user.id, conversation_id=conv['id']) }}">
              {{ conv['user1']['username'] }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="list-friends">
        {% for friend in friends%}
        <div>
          <div class="user-img"></div>
          <div class="username">
            {% if friend['user1']['id'] == current_user.id %}
            <span>{{ friend['user2']['username'] }}</span>
            {% else %}
            <span>{{ friend['user1']['username'] }}</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </aside>
  <main class="main-chat">
    <div class="chat">
      {% if current_conversation %}
      <ul id="chat-history" class="chat-history">
        
      </ul>
      {% endif %}
    </div>
    <div class="form-chat">
      <form id="form-message" method="POST" action="">
        {{ form.csrf_token }}
        {{ form.message.label }} {{ form.message(size=20) }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </main>
</div>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('connect', function () {
    socket.emit('connect-client', {
      data: 'User Connected'
    });
    $.ajax({
      url: "{{ url_for('user.render_conversation_messages', conversation_id=current_conversation['id']) }}",
      type: "get",
      success: function (response) {
        $("#chat-history").html(response);
      },
      error: function (xhr) {
        console.log("error");
      }
    });
    var form = $('#form-message').on('submit', function (e) {
      e.preventDefault()
      let user_input = $('#message').val();
      socket.emit('send-message', {
        id_conv: '{{current_conversation["id"]}}',
        id_current_user:'{{current_user.id}}',
        message: user_input
      })
      $('input.message').val('').focus()
    })
  })
  socket.on('refresh-messages', function (data) {
    $.ajax({
      url: "{{ url_for('user.render_conversation_messages', conversation_id=current_conversation['id']) }}",
      type: "get",
      success: function (response) {
        $("#chat-history").html(response);
      },
      error: function (xhr) {
        console.log("error");
      }
    });
  });
</script>
{% endblock %}