body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-weight: 700;
}

body{
    background-color: #f8f8f8
}

.navbar{
    background-color: rgb(158,58,32);
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: white
}
  
a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: whitesmoke
}

.navbar-toggler {
    border-color:white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-color: rgb(165, 37, 48);
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: white;
    background-color: #9E3A20;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0;
  }

.intro-divider{
    border-top: 1px solid white;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.app{
    display: grid;
    grid-template-rows: 56px auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-chat{
    display: grid;
    grid-template-columns: 250px auto;
    width:100%;
    height: 100%;
}

.user-section{
    background-color: rgba(0, 0, 0, 0.192);
}

.user-data{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-img{
    background-color: #ffffff;
    float: left;
    max-width: 30px;
    height: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.username{
    height: 30px;
    display: inline-block;
}

.active-content{
    display: inline-block;
}

.main-chat{
    display: grid;
    grid-template-rows: 500px auto;
}

.content{
    background-color: #f8f8f8;

    
    
}

.sidebar{
    background-color: #D1D1D1;
}

.form-chat{
    background-color:#e6e6e6;
}

.chat-history{
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: auto;
    background-color: #f8f8f8;
    height: 100%;
}

.message-data {
    margin-bottom: 15px;
}
  
.message-data-time {
    color: lighten(#e6e6e6, 8%);
    padding-left: 6px;
}
  
.message {      
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.message::after {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #9E3A20;
    border-width: 10px;
    margin-left: -10px;
}
  
.my-message {
    background: #9E3A20;
}
  
.other-message {
    background: rgb(95, 92, 91); 
}
.other-message::after {
    border-bottom-color: rgb(95, 92, 91);
    left: 7%;
}

.align-left {
    text-align: left;
}
  
.align-right {
    text-align: right;
}
  
.float-right {
    float: right;
}
  
.clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
}

ul {
    list-style-type: none;
  }